/* h1{

    text-align: left;
    margin-left: 10px;

}

h2{

    margin: 20px 0;

}

p{

    margin: 20px 10px;

}

h4{
    margin-left: 10px;
    color: #0000ff9c;
    
}

span{

    font-size: 20px;
    font-weight: 700;
    color: #ad2aad;

} */


.about{
    margin-bottom: 20px;
}
.about-img{
    padding: 20px;
    height: 50%;
}
.card{
    background-color:#b679e9c2 !important;
    border: none;
    height: 700px;
}

span{

    font-size: 20px;
    font-weight: 700;
    color: #ad2aad;

}