h1{

    text-align: left;
    margin-left: 10px;

}

h2{

    margin: 20px 0;

}

p{

    margin: 20px 10px;

}

h4{
    margin-left: 10px;
    color: #0000ff9c;
    
}

span{

    font-size: 20px;
    font-weight: 700;
    color: #ad2aad;

}